/* start of cart bottom header */
.row
{
    >.row
    {
        width: 100%;
        height:320px;
        border: 1px solid red;
        background-color:rgb(252,247,246);
        >div
        {
            width: 100%;
            margin:10px 100px;
            border:1px solid black;
            display: flex;
          >.card
          {
            width:33%;
            height: 280px;
            margin: 10px 10px;
            border:1px solid purple;
            border-radius:5px;
            background-color:rgb(255,255,255);
            position: relative;
            &:nth-child(1)
            {
              >:nth-child(1)
              {
                margin-top:50px;
                margin-left:25px;
                >strong
                {
                   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                   font-size:13px;
                }
              }
              >:nth-child(2)
              {
                >p
                {
                  padding:10px 0 30px 25px;
                  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                }
              }
              >:nth-child(3)
              {
                  margin-left:40px;
                  height: 40px;
                  width: 100px;
                  background-color:rgb(237,164,68);
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius:10px;
                  >a
                  {
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                    font-size: 13px;
             
                  }
                  
              }
            }
            &:nth-child(2)
            {
               position: relative;
               background-color:rgb(91,79,104);
             
              >:first-of-type
              {
                width:150px;
                height: 150px;
                /* border:1px solid brown; */
                position:absolute;
                bottom:-16px;
                left:40px;
                z-index:2;
                >figure
                {
                >img
                  {
                    width: 100%;
                    height: 100%;
                    object-fit:cover;
                  }
                }
                
              }
              >:last-of-type
              {
                width: 150px;
                height: 150px;
                /* border:1px solid brown; */
                position:absolute;
                bottom:-43px;
                left:70px;
                >div
                {
                  position: relative;
                  z-index:1;
                  >img
                  {
                    width: 100%;
                    height: 100%;
                    object-fit:cover;
                   
                
                  }
                }
                
            
              }
            >h3
              {
                position:absolute;
                top:20px;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                margin:10px auto;
                color:white;
              }
              >h5
              {

                position:absolute;
                top:100px;
                color:white;
                padding-top:10px;
              } 
            }

            &:nth-child(3)
            {
              background-image:url(../image/info-bg.jpg);
              background-size: cover; 
              >p
              {
                &:first-of-type
                {
                  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                  font-size:22px;
                  margin:25px 30px;
                  color:white;
                  position: relative;
                  z-index:3;
                  >strong
                  {
                    color:rgb(180,134,64);
                  }
                }
                &:last-of-type
                {
                  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                  font-size: 20px;
                  color:white;
                  margin-left:30px;
                  position: relative;
                  z-index:4;
                }

              }
            
                &:after
                {
                content:'';
                width: 100%;
                height: 100%;
                background-color:rgba(35, 36, 36, 0.492);
                position:absolute;
                top:0;
                right:0;
                }
              }
            }
  
          }
   
        }
}
/* end of cart bottom header */


/* start cart2 */
.row
{
  >.cart2
  {
    width: 100%;
    height: 410px;
    display: flex;
    padding:20px;
    background-size:cover;

    >div
    {
      width: 100%;
      height: 100%;
      /* border:1px solid black; */
      display: flex;
      /* background-color:rgb(252,247,246); */

      >:first-of-type
      {
        width: 50%;
        height: 350px;
        margin:5px;
        /* border:1px solid purple; */
        >h3
        {
          padding:40px 0 10px 20px;
          font-size: 33px;
          color:rgb(59,58,100)
        }
        >p
        {
          padding:15px 30px 30px 20px ;
          font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
          color:rgb(59,58,100)

        }
        >div
        {
          width: 150px;
          height: 40px;
          background-color:rgb(59,58,100);
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left:20px;
          >a
          {
            color:white;
            border-radius: 15px;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-size: 11px;
            
          }
        }
      }
      >:last-of-type
      {
        width: 50%;
        margin:35px 50px 0 0;
        >figure
        {
          
          >img
          {
            width: 100%;
            height: 100%;
            object-fit:cover;
            border-radius: 15px;
          }
        }
      }
    }
  }
  >.bg-image
  {
    background-image:url(../image/hero-graphic-3.jpg);
  }
  >.bg-color
  {
    background-color:white;
  }
}
/* end of cart2 */


/* start cart3 */
.row
{
  >.cart3
  {
    width: 100%;
    height: 410px;
    display: flex;
    padding:20px;
    background-size:cover;

    >div
    {
      width: 100%;
      height: 100%;
      /* border:1px solid black; */
      display: flex;
      /* background-color:rgb(252,247,246); */

      >:first-of-type
      {
        width: 50%;
        height: 350px;
        margin:5px;
        /* border:1px solid purple; */
        >h2
        {
          padding:40px 0 10px 20px;
          font-size: 40px;
          color:rgb(59,58,100)
        }
        >p
        {
          padding:15px 30px 30px 20px ;
          font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
          color:rgb(59,58,100);

        }
        >div
        {
          width: 150px;
          height: 40px;
          background-color:rgb(241,100,43);
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left:20px;
          margin-top: 30px;
          >a
          {
            color:white;
            border-radius: 15px;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-size: 15px;
            
          }
        }
      }
      >:last-of-type
      {
        width: 50%;
        margin:35px 50px 0 0;
        position: relative;
        
        >figure
        {
          display: flex;
          padding:10px;
           :nth-child(1)
           {
             width: 50%;
            object-fit:cover;
            border-radius: 5px;
            position:absolute;
            top: 70px;
            left:100px;
            z-index:5;
            
           }
           :nth-child(2)
           {
             width: 50%;
             object-fit:cover;
             border-radius: 5px;
             position:absolute;
             right:20px;
             top:10px;
           }
           
         
        }
       
      }
    }
  }
  >.bg-image
  {
    background-image:url(../image/hero-graphic-3.jpg);
  }
  >.bg-color
  {
    background-color:white;
  }
}